# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Opencode local config
opencode.json

# Sensitive folders
.claude/
.agent/
.vscode/

# Static assets that shouldn't be in git
*.pdf
*.zip
*.log